{% extends "base.html" %}

{% block title %}Learn About {{ lesson.title }}{% endblock %}

{% block content %}
<main class="lesson-content">
    <h1>{{ lesson.title }}</h1>
    <p class="lead">{{ lesson.description }}</p>

    <img class="test-image" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Midtown_Manhattan_Skyline_004.jpg"
        alt="UN Headquarters">

    {% for content in lesson.content %}
    <section class="content-section">
        <h2>{{ content.subheading }}</h2>
        <p>{{ content.text }}</p>
    </section>
    {% endfor %}
</main>
{% endblock %}